.MuiCardContent-root.css-j9t08o-MuiCardContent-root{
    background: linear-gradient(90deg, rgb(6, 2, 90) 0%, rgba(15,15,188,0.7630057803468209) 63%, rgb(2, 100, 180) 100%);
}

.MuiCardContent-root.css-j9t08o-MuiCardContent-root input{
    border: 2px solid cyan;
    border-radius: 6px;
}
.brokenList {
    overflow-x: auto !important;
  }
  
  /* Add a max-width to limit the table's width on small screens */
  @media screen and (max-width: 560px) {
    .brokenList {
      max-width: 100% !important;
    }
  }
  
  /* Style the table cells for better readability on small screens */
  @media screen and (max-width: 560px) {
    .brokenList table {
      width: 100% !important;
    }
  
    .brokenList th,
    .brokenList td {
      padding: 8px !important;
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
    }
  }
  