@tailwind base;
@tailwind components;
@tailwind utilities;
/* Remove up and down arrow keys from number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
